/*
font-family: MuseoSansCyrl-500, Arial;
font-family: 'PT Serif', Georgia, Palatino, Palatino Linotype, Times, Times New Roman, Serif;
font-family: 'Arimo', sans-serif;
*/

body {
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #f6f6ee;
	font-family: MuseoSansCyrl-500, Arial;
}

table.clean,
table.clean tr,
table.clean td {
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0px;
}
table.clean td {
	vertical-align: top;
}
a {
	outline: none;
}
br.clear {
    clear: both;
}

.soft-hover {
    transition: 0.3s;
}

#header {
	width: 100%;
	height: 145px;
	padding-top: 35px;
}
#header .navigation {
	width: 100%;
	height: 96px;
}
#header .navigation .column-left {
	width: 50%;
	padding-right: 90px;
	text-align: right;
	vertical-align: middle;
}
#header .navigation .column-right {
	width: 50%;
	padding-left: 90px;
	text-align: left;
	vertical-align: middle;
}
#header .navigation .center {
	height: 1px;
	font-size: 1px;
	line-height: 1px;
}
#header .navigation .logo {
	margin: 0 auto;
	margin-top: -96px;
	width: 85px;
	height: 96px;
	background-image: url('images/logo.png');
    text-decoration: none;
    display: block;
    transition: 0.3s;
-webkit-transform:(0); -moz-transform:(0); -o-transform:(0); transform:(0);
-webkit-transform: translateZ(0);
}
#header .navigation .logo:hover {
#    background-image: url('images/logo-hover.png');
    opacity: 0.8;
-webkit-transform:(0); -moz-transform:(0); -o-transform:(0); transform:(0);
-webkit-transform: translateZ(0);
}
#header .navigation .menu-item {
	display: inline-block;
	font-family: MuseoSansCyrl-500, Arial;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #273446;
	border: 2px solid transparent;
	cursor: pointer;
	width: 150px;
	text-align: center;
	padding: 11px 0;
	margin: 0 10px;
    text-decoration: none;
}
#header .navigation .menu-item.current {
    border: 2px solid #0d0e17;
}
#header .navigation .menu-item:hover {
	border: 2px solid #B38F59;
    color: #B38F59;
}
#content {
	margin-bottom: 70px;
}
#footer {
	margin: 0 auto;
	max-width: 1240px;
	height: 160px;
	padding-top: 40px;
	border-top: 1px solid #e1e0e0;
	
	letter-spacing: 2px;
	font-size: 10px;
	line-height: 10px;
	color: #818181;
	text-align: center;
	text-transform: uppercase;
}
#footer .links {
	margin-bottom: 10px;
}
#footer .links a {
	color: #818181;
	text-decoration: none;
	padding: 0 23px ;
}
#footer .links a:hover {
	text-decoration: underline;
}
#footer .social {
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 10px;
}
#footer .social a {
    display: inline-block;
    margin: 20px 10px;
}
#footer .social .vk {
    background-image: url('images/vk-logo.png');
    width: 23px;
    height: 23px;
}
#footer .social .ig {
    background-image: url('images/inst-logo.png');
    width: 23px;
    height: 23px;
}
#footer .social .fb {
    background-image: url('images/fb-logo.png');
    width: 23px;
    height: 23px;
}
#footer .contacts {
	color: #818181;
}
#footer .contacts .address {
	font-size: 11px;
	margin-bottom: 9px;
}
#footer .contacts .phones {
	line-height: 12px;
}
#footer .contacts .phones .phone {
	background-image: url('images/footer-phone.png');
	background-repeat: no-repeat;
	height: 11px;
	line-height: 11px;
	padding-left: 17px;
	font-size: 9px;
}
#footer .contacts .phones .right-spacing {
	margin-right: 16px;
}

/* Common */
.footer-links {
	background-image: url('images/contacts-1024/footer-links.png');
	background-size: 100%;
	height: 84px;
	line-height: 84px;
	padding: 16px 0;
	font-size: 14px;
	letter-spacing: 1px;
	color: #b77d46;
	text-transform: uppercase;
	text-align: center;
}
.footer-links a {
	color: #b77d46;
	text-decoration: none;
}
.footer-links table {
	margin: 0 auto;
	width: 892px!important;
}
.footer-links table td {
	width: 50%!important;
}
.footer-links table td.border {
	border-right: 1px solid #b77d46;
}

.environment {
	padding-top: 35px;
	width: 1024px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.environment .pin {
	background-image: url('images/contacts-1024/pin-environment-header.png');
	width: 21px;
	height: 28px;
	margin: 0 auto;
	margin-bottom: 24px;
}
.environment .text {
	text-align: center;
	color: #1c202d;
	font-size: 16px;
	margin-bottom: 46px;
    line-height: 24px;
}
.environment .icons {
	text-align: center;
    width: 1024px;
    margin: 0 auto;
}
.environment .heading-with-line-light span {
    font-family: MuseoSansCyrl-500, Arial!important;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 15px;
}

.environment .icons .icon {
    width: 120px;
    height: 90px;
    display: block;
    float: left;
    line-height: 20px;
    padding: 0 4px;
    text-align: center;
    font-size: 11px;
    letter-spacing: 1px;
}
.environment .icons .icon img {
    background-repeat: no-repeat;

    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
.environment .icons .icon img.melnica {
    margin-top: -5px;
    margin-bottom: 15px;
}
.map {
	height: 650px;
}
.map .overlay {
    background: transparent;
    position: relative;
    width: 100%;
    height: 650px; /* your iframe height */
    top: 650px;  /* your iframe height */
    margin-top: -650px;  /* your iframe height */
}

.heading-with-line-light {
	height: 20px;
	color: #b48534;
	margin-bottom: 40px;
	text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.heading-with-line-light .line {
	margin: 0 34px;
	display: inline-block;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
	border-top: 1px solid #b48534;
	width: 278px;
	margin-bottom: 3px;
}
.heading-with-line-light span {
	width: 220px;
	display: inline-block;
}

.heading-with-line-dark {
	text-align: center;
	margin-bottom: 38px;
	height: 20px;
	color: #1b2538;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.heading-with-line-dark .line {
	margin: 0 34px;
	display: inline-block;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
	border-top: 1px solid #1b2538;
	width: 263px;
	margin-bottom: 3px;
}
.heading-with-line-dark span {
	width: 250px;
	display: inline-block;
}
.pdf-black {
	background-image: url('images/download-pdf-black.png');
	background-repeat: no-repeat;
	font-size: 14px;
	line-height: 20px;
	height: 46px;
	margin: 0 35px;
	margin-bottom: 24px;
	width: 170px;
	padding-left: 48px;
	display: inline-block;
	text-align: left;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #08050b;
}
.pdf-orange {
	background-image: url('images/download-pdf-orange.png');
	background-repeat: no-repeat;
	font-size: 14px;
	line-height: 20px;
	height: 64px;
	margin: 0 35px;
	width: 170px;
	padding-left: 48px;
	display: inline-block;
	text-align: left;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ce9756;
}
/* Index */
#index {
    min-width: 1024px;
    max-width: 1240px;
    margin: 0 auto;
}
#index table {
	margin: 0 auto;
	width: 100%;
	max-width: 1238px;
}
#index table.tiles td {
	letter-spacing: 1px;
	overflow: hidden;
	background-repeat: no-repeat;
}
#index table.tiles td.tile-half {
	background-position: center center;
}
#index>table.tiles>tbody>tr>td.tile-half:hover {
    opacity: 0.8;
}
#index table.tiles td.tile-quarter {
	background-position: center center;
}
#index table.tiles td.brick {
	vertical-align: middle;
}
#index table.tiles td.brick-1,
#index table.tiles td.brick-1 div {
    background-image: url('images/index-1024/brick-1.jpg');
    opacity: 0.99;
    background-size: 100% 100%;
    background-position: right bottom;
-webkit-backface-visibility: hidden;
    transition: all 1.5s ease;
-webkit-transform:(0); -moz-transform:(0); -o-transform:(0); transform:(0);
-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
}
#index table.tiles td.brick-1:hover,
#index table.tiles td.brick-1:hover div {
    opacity: 1.0;
    background-size: 110% 110%;
-webkit-backface-visibility: hidden;
    transition: all 1.5s ease;
-webkit-transform:(0); -moz-transform:(0); -o-transform:(0); transform:(0);
-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
}
#index table.tiles td.brick-1:hover div{
	background-image: url('images/index-1024/brick-1-hover.jpg');
}
#index table.tiles td.brick-1 a.square-wrapper {
    background-image: url('images/index-1024/brick-1-text.png');
    background-position: center center;
}
#index table.tiles td.brick-2 {
	background-image: url('images/index-1024/brick-2.png');
    opacity: 0.99;
    background-position: left bottom;
    background-size: 100% 100%;
    transition: all 1.5s ease;
-webkit-transform:(0); -moz-transform:(0); -o-transform:(0); transform:(0);
-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
}
#index table.tiles td.brick-2:hover {
    background-image: url('images/index-1024/brick-2-hover.png');
    opacity: 1.0;
    background-size: 110% 110%;
    transition: all 1.5s ease;
-webkit-transform:(0); -moz-transform:(0); -o-transform:(0); transform:(0);
-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
}
#index table.tiles td.brick-2 a.square-wrapper {
    background-image: url('images/index-1024/brick-2-text.png');
    background-position: center center;
}
#index table.tiles td.brick-3 {
	background-image: url('images/index-1024/brick-3.png');
    opacity: 0.99;
    background-position: left top;
    background-size: 100% 100%;
    transition: 1.5s;
    transition: all 1.5s ease;
-webkit-transform:(0); -moz-transform:(0); -o-transform:(0); transform:(0);
-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
}
#index table.tiles td.brick-3:hover {
    background-image: url('images/index-1024/brick-3-hover.png');
    opacity: 1.0;
    background-size: 110% 110%;
    transition: all 1.5s ease;
-webkit-transform:(0); -moz-transform:(0); -o-transform:(0); transform:(0);
-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
}
#index table.tiles td.brick-3 a.square-wrapper {
    background-image: url('images/index-1024/brick-3-text.png');
    background-position: center center;
}
#index table.tiles td.brick-4 {
}
#index table.tiles td.brick-5 {
}
#index table.tiles td.brick-6 {
}
#index table.tiles td.brick-7 {
}
#index table.tiles a td.event-1 {
	color: #f8c085!important;
	background-color: #131925;
}
#index table.tiles a td.event-2 {
	color: #303743!important;
	background-color: #f8c085;
}
#index table.tiles a td.event-3 {
	color: #131a26!important;
    background-color: #ededed;
}
#index table.tiles .arrow-left-event-1 {
	width: 0;
	height: 0;
	margin-left: auto;
	margin-right: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #131925;
}
#index table.tiles .arrow-right-event-1 {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #131925;
}
#index table.tiles .arrow-left-event-2 {
	width: 0;
	height: 0;
	margin-left: auto;
	margin-right: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #f8c085;
}
#index table.tiles .arrow-right-event-2 {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #f8c085;
}
#index table.tiles .arrow-left-event-3 {
	width: 0;
	height: 0;
	margin-left: auto;
	margin-right: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #f6f6ee;
}
#index table.tiles .arrow-right-event-3 {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #ededed;
}
#index table.tiles td a.square-wrapper {
	display: block;
	text-decoration: none;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
#index table.tiles td div.event-wrapper {
	padding: 8%;
    padding-bottom: 0;
}
#index table.tiles td div.type {
	font-family: MuseoSansCyrl-500, Arial;
	padding: 3% 5%;
	margin-bottom: 10%;
	display: inline-block;
	font-weight: normal;
}
#index table.tiles td.event-1 div.type {
	background-color: #323944;
	color: #f9f9f9!important;
}
#index table.tiles td.event-2 div.type {
	background-color: #b48758;
	color: #f9f9f9!important;
}
#index table.tiles td.event-3 div.type {
	background-color: #b48758;
	color: #f9f9f9!important;
} 
#index table.tiles td div.header {
	font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    height: 80px;
    text-transform: uppercase;
    font-family: MuseoSansCyrl-500, Arial;
}
#index table.tiles td div.date {
	margin-bottom: 8%;
    font-family: MuseoSansCyrl-500, Arial;
}
#index table.tiles td div.description {
    font-size: 14px;
    line-height: 20px;
    font-family: MuseoSansCyrl-500, Arial;
}
#index #more-news {
	letter-spacing: 1px;
	color: #c69867;
	display: block;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}
/* Event */
#event {
	min-width: 1024px;
	max-width: 1240px;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	letter-spacing: 1px;
}
#event .image-banner {
	margin-bottom: 46px;
}
#event .image-banner img {
	margin: 0 auto;
	display: block;
}
#event .type {
	margin-bottom: 22px;
	color: #f9f9f9;
	font-family: MuseoSansCyrl-500, Arial;
	padding: 5px 10px;
	display: inline-block;
}
#event .type.announce {
	background-color: #323944;
}
#event .type.report {
	background-color: #b48758;
}
#event .header {
	padding-bottom: 22px;
	color: #06131d;
	font-size: 22px;
    line-height: 33px;
    max-width: 700px;
    margin: 0 auto;
	letter-spacing: 2px;
    text-transform: uppercase;
}
#event .date {
	margin: 0 24px;
	margin-bottom: 22px;
	color: #bb834b;
	font-family: MuseoSansCyrl-500, Arial;
	font-size: 14px;
	display: inline-block;
}
#event .date-line {
	margin: 0 0;
	font-size: 1px;
	line-height: 1px;
	height: 1px;
	border-top: 1px solid #bb834b;
	width: 160px;
	display: inline-block;
    margin-bottom: 3px;
}
#event .description {
	margin-bottom: 38px;
	color: #06131d;
	font-family: MuseoSansCyrl-500, Arial;
	font-size: 14px;
}
#event .link {
	margin-bottom: 58px;
	color: #06131d;
	font-family: MuseoSansCyrl-500, Arial;
	font-size: 12px;
	display: block;
    text-decoration: none;
}
#event .link:hover {
    text-decoration: underline;
}
#event .images-list {
	width: 750px;
	margin: 0 auto;
	margin-bottom: 70px;
	letter-spacing: 0;
}
#event .images-list img {
	border: none;
	margin: -3px;
	outline: none;
	width: 150px;
	padding: 0;
	display: inline-block;
}
#event .text {
	text-align: left;
	width: 550px;
	margin: 0 auto;
	margin-bottom: 100px;
	font-family: MuseoSansCyrl-500, Arial;
    line-height: 22px;
}
#event .other-news-header {
	color: #a0a0a0;
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 40px;
	font-family: 'Arimo', sans-serif;
}
#event .other-news {
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 100px;
}
#event .other-news .news {
	width: 250px;
	display: inline-block;
	text-decoration: none;
	margin: -3px;
}
#event .other-news .news:hover {
	background-color: #ededed;
}
#event .other-news .news .image {
	width: 250px;
	height: 250px;
	background-position: center center;
}
#event .other-news .news .image-1 {
}
#event .other-news .news .image-2 {
}
#event .other-news .news .image-3 {
}
#event .other-news .news .image .arrow-top {
	width: 0;
	height: 0;
	padding-top: 230px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 20px solid #f6f6ee;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
}
#event .other-news .news:hover .image .arrow-top {
	border-bottom: 20px solid #ededed;
}
#event .other-news .news .header {
	padding-top: 28px;
	padding-left: 15px;
	padding-right: 15px;
	height: 62px;
	color: #323943;
	font-family: 'Arimo', sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	text-transform: uppercase;
	overflow: hidden;
}
#event .other-news .news .date {
	color: #131a26;
	margin-bottom: 20px;
}
#event .other-news .news .description {
	height: 86px;
	margin-bottom: 13px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
}
/* About */
#about .img-block {
	text-align: center;
    min-width: 1024px;
    max-width: 1240px;
    margin: 0 auto;
    background-position: center center;
}
#about .img-block .year {
	padding-top: 52px;
	font-size: 28px;
}
#about .img-block .year .line {
	margin: 0 0;
	display: inline-block;
	font-size: 3px;
	line-height: 3px;
	height: 3px;
	border-top: 3px solid #b48534;
	width: 37px;
	margin-bottom: 3px;
}
#about .img-block .year span {
	width: 100px;
	display: inline-block;
}
#about .img-block .header {
	padding-top: 85px;
	font-size: 24px;
	letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-decoration: none;
    letter-spacing: 0.063em;
    word-spacing: 0em;
    line-height: 1.5;
}
#about .img-block .padding1 {
	padding-top: 42px;
}
#about .img-block .padding2 {
	padding-top: 42px;
}
#about .img-block .text {
	padding-top: 43px;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: Georgia, Arial;
    line-height: 26px;
}
#about .img-block-1 {
	background-image: url('images/about-1024/block-1.png');
	color: #d99767;
	height: 422px;
}
#about .img-block-1 .header {
    padding-top: 75px;
}
#about .img-block-2 {
	background-image: url('images/about-1024/block-2.png');
	color: #dd8e4a;
	height: 471px;
}
#about .img-block-2 .header {
    padding-top: 75px;
}
#about .img-block-3 {
	background-image: url('images/about-1024/block-3.png');
	color: #c89e67;
	height: 523px;
}
#about .img-block-3 .header {
    font-size: 28px;
}
#about .img-block-3 .year .line {
    border-top: 3px solid #c89e67;
}
#about .img-block-4 {
	background-image: url('images/about-1024/block-4.png');
	color: #d99767;
	height: 600px;
}
#about .img-block-4 .header {
    font-size: 28px;
}
#about .img-block-4 .year .line {
    border-top: 3px solid #d99767;
}
#about .image-1 {
	background-image: url('images/about-1024/image-1.png');
	width: 422px;
	height: 268px;
}
#about .image-2 {
	background-image: url('images/about-1024/image-2.png');
	width: 415px;
	height: 259px;
    float: right;
}
#about .image-3 {
	background-image: url('images/about-1024/image-3.png');
	width: 361px;
	height: 355px;
}
#about .image-4 {
	background-image: url('images/about-1024/image-4.png');
	width: 371px;
	height: 371px;
    float: right;
}
#about .image-5 {
	background-image: url('images/about-1024/image-5.png');
	width: 393px;
	height: 323px;
}
#about .on-territory {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 35px;
    text-align: center;
    line-height: 200px;
    font-size: 14px;
    color: #b48534;
    padding-top: 20px;
    letter-spacing: 1px;
}
#about .on-territory .territory {
    width: 210px;
    height: 150px;
    display: block;
    float: left;
    line-height: 20px;
    margin-bottom: 30px;
    padding: 0 20px;
}
#about .on-territory img {
    background-size: contain;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}
#about .on-territory .parking {
}
#about .on-territory .neighbours {
}
#about .on-territory .aesthetics {
}
#about .on-territory .cafe {
}
#about .on-territory .space {
}
#about .on-territory .communications {
}
#about .on-territory .information {
}
#about .on-territory .idea {
}
#about .flag {
	background-image: url('images/about-1024/flag.png');
	width: 31px;
	height: 30px;
	margin: 0 auto;
	margin-bottom: 26px;
}
#about .inside-loft {
	padding-top: 35px;
}
#about .inside-loft .text {
	text-align: center;
	color: #1c202d;
	font-size: 18px;
	margin-bottom: 66px;
    letter-spacing: 1px;
    line-height: 27px;
}
#about .text-block-wrapper {
    max-width: 1240px;
    min-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}
#about .text-block-wrapper.highlight {
}
#about .text-block {
	width: 980px;
	margin: 0 auto;
	color: #1d222f;
	padding: 60px 0;
    font-size: 16px;
    line-height: 24px;
}
#about .text-block.quote {
    padding: 10px 0;
    padding-bottom: 0;
}
#about .text-block.last {
    padding-bottom: 130px;
}
#about .text-block.center {
	text-align: center;
}
#about .text-block .highlight {
	color: #b57140;
}
#about .text-block .header {
	color: #d99767;
	margin-bottom: 32px;
	font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#about .text-block .text {
    font-size: 16px;
    line-height: 24px;
    padding-right: 20px;
}
#about .text-block table {
	width: 100%!important;
}
#about .text-block table td {
	width: 48%!important;
}
#about .text-block table td.right {
    text-align: right;
}
#about .text-block table td.separator {
    width: 4%!important;
}
#about {
    padding-bottom: 60px;
    min-width: 1024px;
    max-width: 1240px;
    margin: 0 auto;
}

/* Service */
#service {
    min-width: 1024px;
    max-width: 1240px;
    margin: 0 auto;
}
#service .img-block {
	text-align: center;
    background-position: center center;
}
#service .img-block .number {
	padding-top: 40px;
    font-size: 64px;
}
#service .img-block .number .line {
	margin: 0 0;
	display: inline-block;
	font-size: 3px;
	line-height: 3px;
	height: 3px;
	border-top: 3px solid #b48534;
	width: 37px;
	margin-bottom: 18px;
}
#service .img-block .number span {
	width: 100px;
    display: inline-block;
}
#service .img-block .header {
	padding-top: 20px;
    line-height: 38px;
    text-transform: uppercase;
	letter-spacing: 2px;
    font-weight: bold;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-decoration: none;
    letter-spacing: 0.063em;
    word-spacing: 0em;
    line-height: 1.4;
}
#service .img-block .padding1 {
	padding-top: 20px;
}
#service .img-block .padding2 {
	padding-top: 42px;
}
#service .img-block .text {
	padding-top: 53px;
	font-size: 18px;
	letter-spacing: 1px;
    font-family: Georgia, Arial;
    line-height: 26px;
}
#service .img-block-1 {
	background-image: url('images/service-1024/block-1.png');
	color: #e0ad86;
	height: 416px;
	background-size: 100%;
}
#service .img-block-1 .number .line {
	border-color: #e0ad86!important;
}
#service .img-block-1 .header {
    padding-top: 25px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.063em;
    word-spacing: 0em;
    line-height: 1.4;
}
#service .img-block-1 .text {
    padding-top: 35px;
}
#service .img-block-2 {
	background-image: url('images/service-1024/block-2.png');
	color: #131529;
	height: 396px;
	background-size: 100%;
}
#service .img-block-2 .text {
    padding-top: 45px;
}
#service .img-block-2 .number .line {
	border-color: #131529!important;
}
#service .img-block-3 {
	background-image: url('images/service-1024/block-3.png');
	color: #c0935d;
	height: 428px;
	background-size: 100%;
}
#service .img-block-3 .number .line {
	border-color: #c0935d!important;
}
#service .img-block-4 {
	background-image: url('images/service-1024/block-4.png');
	color: #1a1c3c;
	height: 418px;
	background-size: 100%;
}
#service .img-block-4 .number .line {
	border-color: #1a1c3c!important;
}
.local-navigation {
	width: 1024px;
	margin: 0 auto;
	text-align: center;
}
.local-navigation.absolute {
    position: fixed;
    top: 0;
    width: 100%!important;
    background-color: #ededed;
    text-align: center;
    padding-bottom: -1px;
}
.local-navigation a {
	display: inline-block;
	padding: 0 35px;
	height: 47px;
	line-height: 47px;
	background-color: transparent;
	text-align: center;
	color: #bc8255;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
    letter-spacing: 1px;
    margin-left: -2px;
    margin-right: -2px;
}
.local-navigation a:hover {
	background-color: #262938;
	color: #bc8255;
}
#service .text-block {
	width: 892px;
	margin: 0 auto;
	color: #131529;
	padding: 70px 0;
    padding-bottom: 110px;
}
#service .text-block .link {
	color: #141627;
	font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-right: 30px;
	background-image: url('images/service-1024/download.png');
	background-position: right center;
	background-repeat: no-repeat;
}
#service .text-block .highlight {
	color: #d99767;
	font-size: 30px;
	margin-left: 35px;
    padding-top: 10px;
}
#service .text-block .highlight sup {
    font-size: 20px;
}
#service .text-block .header {
	color: #0e0b0e;
	margin-bottom: 32px;
	font-size: 24px;
}
#service .text-block table {
	width: 100%;
}
#service .text-block table td.col1 {
	width: 65%;
    padding-right: 20px;
}
#service .text-block table td.col1 .text {
    font-size: 16px;
    line-height: 24px;
}
#service .text-block table td.col1 .header {

}
#service .text-block table td.col2 {
	width: 35%;
    padding-top: 61px;
    padding-left: 20px;
}
#service hr {
	border: none;
	line-height: 0;
	height: 0;
	border-bottom: 2px solid #c9c9cc;
	width: 806px;
	margin: 0 auto;
}
#service .footer-text {
	padding-top: 28px;
	text-align: center;
	font-style: italic;
    font-family: 'PT Serif', Georgia, Palatino, Palatino Linotype, Times, Times New Roman, Serif;
	color: #1e2537;
}
#service .footer-text .phone {
	padding-top: 22px;
	font-size: 20px;
    font-family: MuseoSansCyrl-500, Arial;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: bold;
}
/* Contacts */
#contacts {
    min-width: 1024px;
    max-width: 1240px;
    margin: 0 auto;
}
#contacts .header {
	background-image: url('images/contacts-1024/header.png');
    background-position: center center;
	color: #f6f6ee;
	height: 299px;
	padding-top: 80px;
	text-align: center;
	margin-bottom: 50px;
    text-transform: uppercase;
}
#contacts .header .text {
	margin-bottom: 50px;
	color: #eba662;

    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-decoration: none;
    letter-spacing: 0.063em;
    word-spacing: 0em;
    line-height: 1.4;
}
#contacts .header .pin {
	background-image: url('images/contacts-1024/pin-top-header.png');
	width: 21px;
	height: 28px;
	margin: 0 auto;
	margin-bottom: 26px;
    display: block;
    text-decoration: none;
}
#contacts .header .address {
	font-size: 20px;
	margin-bottom: 17px;
    letter-spacing: 1px;
}
#contacts .header .phones {
	line-height: 25px;
    letter-spacing: 1px;
}
#contacts .header .phone {
	background-image: url('images/contacts-1024/phone-top-header.png');
	background-repeat: no-repeat;
	height: 25px;
	line-height: 25px;
	padding-left: 34px;
	font-size: 20px;
}
#contacts .header .right-spacing {
	margin-right: 42px;
}
#contacts .people {
	color: #1e2537;
	margin: 0 auto;
	width: 892px;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 88px;
}
#contacts .people table {
	width: 100%!important;
}
#contacts .people table td {
	width: 50%!important;
}
#contacts .people .role {
	font-size: 11px;
	margin-bottom: 12px;
}
#contacts .people .name {
	font-size: 20px;
	margin-bottom: 24px;
	text-transform: uppercase;
}
#contacts .people .phone {
	font-size: 18px;
    letter-spacing: 1px;
	margin-bottom: 40px;
}
#contacts .people .mail {
	background-image: url('images/contacts-1024/mail.png');
	background-repeat: no-repeat;
	font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
	line-height: 22px;
	height: 24px;
	padding-left: 47px;
	display: inline-block;
    text-decoration: none;
    color: #1e2537!important;
}
#contacts .documents {
	width: 1024px;
	margin: 0 auto;
    margin-bottom: 20px;
}
#contacts .documents .pdfs {
	width: 1024px;
	margin: 0 auto;
	text-align: center;
}
/* Planing */
#planing {
    max-width: 1240px;
    min-width: 1024px;
    margin: 0 auto;
}
#planing .floors {

}
#planing .floors ul {

}
#planing .floors ul li {
    display: inline-block;
}
#planing .building {
    max-width: 1240px;
    min-width: 1024px;
    margin: 0 auto;
    height: 650px;
    background-repeat: no-repeat;
    background-image: url('images/planing-1024/background.jpg');
    background-position: center center;
}
#planing .building-center {
    width: 1024px;
    margin: 0 auto;
}
#planing .building .floor-selection {
    display: block;
    cursor: pointer;
    position: relative;
    opacity: 0.0;
}
#planing .building .floor-selection.selected {
    opacity: 1.0;
}
#planing .building .floor-selection:hover {
    opacity: 1.0;
}

#planing .building .floor-selection-1 {
    width: 647px;
    height: 90px;
    top: -141px;
    left: 33px;
}
#planing .building .floor-selection-1:hover,
#planing .building .floor-selection-1.selected {
    background-image: url('images/planing-1024/floor-selection-0.png');
}
#planing .building .floor-selection-2 {
    width: 562px;
    height: 73px;
    top: -113px;
    left: 80px;
}
#planing .building .floor-selection-2:hover,
#planing .building .floor-selection-2.selected {
    background-image: url('images/planing-1024/floor-selection-2.png');
}
#planing .building .floor-selection-3 {
    width: 568px;
    height: 77px;
    top: -99px;
    left: 79px;
}
#planing .building .floor-selection-3:hover,
#planing .building .floor-selection-3.selected {
    background-image: url('images/planing-1024/floor-selection-3.png');
}
#planing .building .floor-selection-4 {
    width: 564px;
    height: 63px;
    top: -94px;
    left: 83px;
}
#planing .building .floor-selection-4:hover,
#planing .building .floor-selection-4.selected {
    background-image: url('images/planing-1024/floor-selection-4.png');
}
#planing .building .floor-selection-5 {
    width: 564px;
    height: 72px;
    top: -83px;
    left: 83px;
}
#planing .building .floor-selection-5:hover,
#planing .building .floor-selection-5.selected {
    background-image: url('images/planing-1024/floor-selection-5.png');
}
#planing .building .floor-selection-6 {
    width: 564px;
    height: 112px;
    top: -63px;
    left: 83px;
}
#planing .building .floor-selection-6:hover,
#planing .building .floor-selection-6.selected {
    background-image: url('images/planing-1024/floor-selection-6.png');
}
#planing .building .floor-selection-7 {
    width: 563px;
    height: 129px;
    top: -26px;
    left: 83px;
}
#planing .building .floor-selection-7:hover,
#planing .building .floor-selection-7.selected {
    background-image: url('images/planing-1024/floor-selection-7.png');
}
#planing .building .floor-selection-8 {
    width: 585px;
    height: 144px;
    top: 36px;
    left: 77px;
}
#planing .building .floor-selection-8:hover,
#planing .building .floor-selection-8.selected {
    background-image: url('images/planing-1024/floor-selection-8.png');
}
#planing .floor-planing {
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: #0c1827;
    width: 100%;
}
#planing .floors {
    margin: 0 auto;
    margin-bottom: 2px;
    padding-left: 70px;
    width: 910px;
}
#planing a.floor {
    width: 110px;
    height: 23px;
    background-repeat: no-repeat;
    display: inline-block;
    text-decoration: none;
}
#planing a.floor.number-1 {
    opacity: 1.0;
    background-image: url('images/planing-1024/floor-1.png');
}
#planing a.floor.number-1.current,
#planing a.floor.number-1:hover {
    opacity: 0.99;
    background-image: url('images/planing-1024/floor-1-current.png');
}
#planing a.floor.number-2 {
    opacity: 1.0;
    background-image: url('images/planing-1024/floor-2.png');
}
#planing a.floor.number-2.current,
#planing a.floor.number-2:hover {
    opacity: 0.99;
    background-image: url('images/planing-1024/floor-2-current.png');
}
#planing a.floor.number-3 {
    opacity: 1.0;
    background-image: url('images/planing-1024/floor-3.png');
}
#planing a.floor.number-3.current,
#planing a.floor.number-3:hover {
    opacity: 0.99;
    background-image: url('images/planing-1024/floor-3-current.png');
}
#planing a.floor.number-4 {
    opacity: 1.0;
    background-image: url('images/planing-1024/floor-4.png');
}
#planing a.floor.number-4.current,
#planing a.floor.number-4:hover {
    opacity: 0.99;
    background-image: url('images/planing-1024/floor-4-current.png');
}
#planing a.floor.number-5 {
    opacity: 1.0;
    background-image: url('images/planing-1024/floor-5.png');
}
#planing a.floor.number-5.current,
#planing a.floor.number-5:hover {
    opacity: 0.99;
    background-image: url('images/planing-1024/floor-5-current.png');
}
#planing a.floor.number-6 {
    opacity: 1.0;
    background-image: url('images/planing-1024/floor-6.png');
}
#planing a.floor.number-6.current,
#planing a.floor.number-6:hover {
    opacity: 0.99;
    background-image: url('images/planing-1024/floor-6-current.png');
}
#planing a.floor.number-7 {
    opacity: 1.0;
    background-image: url('images/planing-1024/floor-7.png');
}
#planing a.floor.number-7.current,
#planing a.floor.number-7:hover {
    opacity: 0.99;
    background-image: url('images/planing-1024/floor-7-current.png');
}
#planing a.floor.number-8 {
    opacity: 1.0;
    background-image: url('images/planing-1024/floor-8.png');
}
#planing a.floor.number-8.current,
#planing a.floor.number-8:hover {
    opacity: 0.99;
    background-image: url('images/planing-1024/floor-8-current.png');
}
#planing .floor span.sup {
    font-size: 24px;
    line-height: 64px;
    display: inline-block;
    position: relative;
    top: -32px;
    left: -10px;
}
#planing .floor-background {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
#planing .floor-background img,
#planing .floor-background img.occupied {
}
#planing .space {
    margin: 0 auto;
    padding-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    letter-spacing: 1px;
}
#planing .space sup {
    font-size: 18px;
}
#planing .space .free-space {
    color: #c2985d;
    display: block;
    max-width: 210px;
    float: left;
    margin-left: 200px;
}
#planing .space .occupied-space {
    color: #8a8a8a;
    display: block;
    margin-left: 40px;
    max-width: 210px;
    float: left;
}
#planing .space span.total-space {
    color: #8a8a8a;
    text-transform: none;
    display: block;
    margin-right: 0;
    width: 350px;
    text-align: right;
    float: right;
    margin-right: 200px;
}
#planing .images-list {
    margin-bottom: 40px;
    letter-spacing: 0;
    text-align: center;
}
#planing .images-list img {
    border: none;
    margin: -3px;
    outline: none;
    width: 250px;
    height: 250px;
    padding: 0;
    background-size: 200% 200%;
    display: inline-block;
}
#planing .residents {
}
#planing .residents .header {
    text-align: center;
    color: #161b30;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 35px;
}
#planing hr {
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #e1e0e0;
    margin-bottom: 10px;
}
#planing .residents .resident {

    min-width: 200px;
    max-width: 310px;
    padding: 23px;
    display: block;
    margin-bottom: 20px;
}
#planing .residents ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    margin-bottom: 70px;
}
#planing .residents ul li {
    margin: 0;
    padding: 0;
    border: 0;
}
#planing .residents .resident .image {
    margin: 0 auto;
    margin-bottom: 24px;

    width: 200px;
    height: 150px;
    background-repeat: no-repeat;

    background-position: center center;
}
#planing .residents .resident .name {
    margin-bottom: 12px;
    text-align: center;
    color: #4a4f5e;
    font-family: MuseoSansCyrl-500, Arial;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}
#planing .residents .resident .short-text {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 24px;
    text-align: center;
    color: #4a4f5e;
    font-family: MuseoSansCyrl-500, Arial;
    font-size: 14px;
    letter-spacing: 1px;
}
#planing .residents .resident .number {
    background-color: #1e2537;
    border-radius: 13px;
    width: 26px;
    height: 26px;
    margin: 0 auto;
    text-align: center;
    line-height: 26px;
    color: #f1f1f1;
    font-family: 'Arimo', sans-serif;
}
#planing .documents {
    width: 1000px;
    margin: 0 auto;
}
#planing .documents .pdfs {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
}
#planing .documents .pdfs .pdf-black,
#planing .documents .pdfs .pdf-orange {
    width: 210px;
}
